<!DOCTYPE html>
<html lang="en" xmlns:data-target="http://www.w3.org/1999/xhtml">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Yedidim Project</title>

    <!-- CSS -->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/form-elements.css">
    <link rel="stylesheet" href="assets/css/style.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Favicon and touch icons -->
    <link rel="shortcut icon" href="assets/img/backgrounds/icon.jpg">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="assets/ico/apple-touch-icon-57-precomposed.png">

</head>
<body>
<% include templates/toolbar.ejs %>
<!-- Top content -->
<div class="top-content">
    <div class="inner-bg">
        <div class="container">
            <div class="row">
                <div class="col-sm-7 text">
                    <h1><strong>Yedidim</strong> Authorization</h1>
                    <div class="description">
                        <p>
                            <b>A new user had registered and you may authorize him here if you wish</b>
                        </p>
                    </div>
                    <div class="top-big-link">
                        <a class="btn btn-link-2" href="/">About</a>
                    </div>
                </div>
                <div class="col-sm-5 col-lg-5 form-box">
                    <div class="form-top">
                        <div class="form-top-right" style="width: auto">
                            <h3 style="direction: rtl">אשר עכשיו!</h3>
                        </div>
                        <div class="form-top-left" style="width: auto">
                            <i class="fa fa-pencil"></i>
                        </div>
                    </div>
                    <div style="background: rgba(128, 128, 128, 0.5)">
                    <h1 style="color: yellow; font-weight: bold"> <%= errorMsg %> </h1>
                    </div>
                        <form role="form" method="post" action="">
                            <div class="form-group">
                                <div style="background: rgba(128, 128, 128, 0.5);">
                                <label for="adminPassword" style="color: #f7ecb5">Admin Password</label>
                                </div>
                                <input style="margin-bottom: 3%;" type="password" class="form-control form-password" id="password" name="password" placeholder="admin password...">

                                <input id="popoverData1" class="btn" data-content="Original email" rel="popover" data-placement="bottom" data-trigger="hover"
                                        style="margin-bottom: 3%; margin-left: 2%;" name="oldEmail" value="<%= oldEmail%>"/>
                                <input id="popoverData2" class="btn" data-content="New email" rel="popover" data-placement="bottom" data-trigger="hover"
                                        style="margin-bottom: 3%; margin-left: 2%;" name="newEmail" value="<%= newEmail%>"/>
                                <input id="popoverData3" class="btn" data-content="First Name" rel="popover" data-placement="bottom" data-trigger="hover"
                                        style="margin-bottom: 3%; margin-left: 2%;" name="firstName" value="<%= firstName%>"/>
                                <input id="popoverData4" class="btn" data-content="Last Name" rel="popover" data-placement="bottom" data-trigger="hover"
                                        style="margin-bottom: 3%; margin-left: 2%;" name="lastName" value="<%= lastName%>"/>
                                <input style="display: none" name="userPassword" value="<%= hashedpass%>"/>
                                <input style="display: none" name="salt" value="<%= salt%>"/>
                            </div>
                            <div class="form-group">
                                <button type="=submit" class="btn">!אשר</button>
                            </div>
                        </form>
                </div>
            </div>
        </div>
    </div>
    <button type="button" class="btn btn-info- btm-md" id="myBtn" style="display: none"></button>
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" style="padding-bottom:5%">
                    <h4 class="modal-title" style="direction: rtl; float:right; padding-bottom: 10%;">!תודה על האישור</h4>
                </div>
                <div class="modal-body">
                    <!--<p style=";line-height: 100%;float: right">המשתמש  נרשם בהצלחה</p>-->
                    <button type="button" class="btn btn-default" data-dismiss="modal">חזור</button>
                    <a href="/"><p style="display: inline">חזור לדף הבית   </p><i class="glyphicon glyphicon-home" style="padding-top: 10%"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Javascript -->
<script src="assets/js/jquery-1.11.1.min.js"></script>
<script src="assets/bootstrap/js/bootstrap.min.js"></script>
<script src="assets/js/jquery.backstretch.min.js"></script>
<script src="assets/js/retina-1.1.0.min.js"></script>
<script src="assets/js/scripts.js"></script>


<script>
    function thanks(){
        $("#myModal").modal({backdrop: "true"});

    }

    function flip() {
        var field = document.getElementById("form-email");
        field.removeAttribute("placeholder");
        field.style.direction = "ltr";
    }
</script>
<script>
    $('#popoverData1').popover();
    $('#popoverData2').popover();
    $('#popoverData3').popover();
    $('#popoverData4').popover();
    function hide() {
        var field = document.getElementById("hidden-parent-text");
        if ($("#parent").is(':checked')) {
            $('#hidden-parent').css({opacity:0}).slideDown("slow").animate({opacity:1});
        } else {
            $('#hidden-parent').animate({opacity: 0}).slideUp("slow");
        }
    };
    function bogerHide() {
        var field = document.getElementById("hidden-boger-text");
        if ($("#boger").is(':checked')) {
            $('#hidden-boger').css({opacity:0}).slideDown("slow").animate({opacity:1});
        } else {
            $('#hidden-boger').animate({opacity: 0}).slideUp("slow");
        }
    };

    $(document).ready(function (){
        $('#kidName').prop('required', false);
        $('#yearFinished').prop('required', false);
    });
</script>

<!--[if lt IE 10]>
<script src="assets/js/placeholder.js"></script>
<![endif]-->

</body>

</html>